.App-header{ 
  border-bottom: 1px solid gray;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.haedder{
  height: 100px;
 
 
}
 
.App-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}